
#about .inputs form {
  display: grid;
  grid-template-areas: 
  "titulo titulo"
  "inicio fim"
  "tipo local"
  "descricao descricao";
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.input-wrapper.title {
  grid-area: titulo;
}

.input-wrapper.start {
  grid-area: inicio;
}

.input-wrapper.end {
  grid-area: fim;
}

.input-wrapper.type {
  grid-area: tipo;
  cursor: pointer;
}

.input-wrapper.local {
  grid-area: local;
}

.input-wrapper.description {
  grid-area: descricao;
}

.input-wrapper.type .segmented-control,
.input-wrapper.type .segmented-control label {
  cursor: pointer;
}