
#about .inputs form {
  display: grid;
  grid-template-areas: 
  "titulo titulo"
  "inicio fim"
  "tipo local"
  "descricao descricao";
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.input-wrapper.title {
  grid-area: titulo;
}

.input-wrapper.start {
  grid-area: inicio;
}

.input-wrapper.end {
  grid-area: fim;
}

.input-wrapper.type {
  grid-area: tipo;
  cursor: pointer;
}

.input-wrapper.local {
  grid-area: local;
}

.input-wrapper.description {
  grid-area: descricao;
}

.input-wrapper.type .segmented-control,
.input-wrapper.type .segmented-control label {
  cursor: pointer;
}

/* Adicione isso ao final do section.css */
#contact .inputs {
  display: grid;
  grid-template-areas: 
    "name name"
    "email phone";
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

#contact .input-wrapper.name {
  grid-area: name;
}

#contact .input-wrapper.email {
  grid-area: email;
}

#contact .input-wrapper.phone {
  grid-area: phone;
}