.segmented-control input[type="radio"] {
  display: none;
}

.segmented-control {
  display: flex;
  padding: 4px;
  gap: 4px;
}

.segmented-control > label {
  margin-bottom: 0;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 8px;
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-regular);
  color: var(--text-body);
  position: relative;
}

.segmented-control label::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

#presencial + label::before {
  background-image: url(../assets/icons/building-2.svg);
}

#online + label::before {
  background-image: url(../assets/icons/video.svg);
}

#presencial:checked + label::before {
  background-image: url(../assets/icons/building-2-checked.svg);
}

#online:checked + label::before {
  background-image: url(../assets/icons/video-checked.svg);
}

.segmented-control input[type="radio"]:checked + label {
  background-color: var(--input-stroke);
  color: var(--text-heading);
  font-weight: var(--fw-semibold);
}