.container {
  max-width: 1280px;
  padding-inline: 130px;
  margin-block: 80px;
  margin-inline: auto;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 48px;
  margin-bottom: 24px;
}

.text-sm {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-regular);
  color: var(--text-heading);

}

.radio-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.radio-wrapper input[type="radio"]:checked + label {
  border: 2px solid var(--brand-blend-light);
}

.radio-wrapper label {
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.274);
  display: flex;
  width: 40px;
  height: 40px;
  padding: 6px;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 100%;
  cursor: pointer;
  margin-bottom: 0;
}

/* Define o background padrão para o label */
label[for="brand-light"] {
  --circle-icon: url(../assets/icons/circles/brand-light.svg) no-repeat center center;
  background: var(--circle-icon);
}

label[for="navy"] {
  --circle-icon: url(../assets/icons/circles/navy.svg) no-repeat center center;
  background: var(--circle-icon);
}

label[for="purple"] {
  --circle-icon: url(../assets/icons/circles/purple.svg) no-repeat center center;
  background: var(--circle-icon);
}

label[for="fuschia"] {
  --circle-icon: url(../assets/icons/circles/fuschia.svg) no-repeat center center;
  background: var(--circle-icon);
}

label[for="pink"] {
  --circle-icon: url(../assets/icons/circles/pink.svg) no-repeat center center;
  background: var(--circle-icon);
}

label[for="danger"] {
  --circle-icon: url(../assets/icons/circles/danger.svg) no-repeat center center;
  background: var(--circle-icon);
}

label[for="orange"] {
  --circle-icon: url(../assets/icons/circles/orange.svg) no-repeat center center;
  background: var(--circle-icon);
}

label[for="yellow"] {
  --circle-icon: url(../assets/icons/circles/yellow.svg) no-repeat center center;
  background: var(--circle-icon);
}

label[for="lime"] {
  --circle-icon: url(../assets/icons/circles/lime.svg) no-repeat center center;
  background: var(--circle-icon);
}

label[for="green"] {
  --circle-icon: url(../assets/icons/circles/green.svg) no-repeat center center;
  background: var(--circle-icon);
}

label[for="cyan"] {
  --circle-icon: url(../assets/icons/circles/cyan.svg) no-repeat center center;
  background: var(--circle-icon);
}

.radio-wrapper input[type="radio"] {
  display: none;
}